/* ===== 全体設定 ===== */
body {
  background-color: #f9f9f9;
  font-family: 'Arial', 'Hiragino Kaku Gothic ProN', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding-top: 100px;
}

.error-wrapper {
  text-align: center;
  margin-top: 50px;
  color: #333;
  font-family: 'Arial', 'Hiragino Kaku Gothic ProN', sans-serif;
}

.error-wrapper h2 {
  color: #fc251e; /* 赤っぽい警告色 */
  font-size: 22px;
  margin-bottom: 25px;
}

.error-wrapper p {
  font-size: 16px;
  margin-bottom: 40px;
}

.btn-back {
  display: inline-block;
  padding: 12px 24px;
  background-color: #d0eaf1;
  border-radius: 8px;
  border: 1px solid #aaa;
  text-decoration: none;
  color: #333;
  transition: background 0.2s;
}

.btn-back:hover {
  background-color: #b8dce6;
  transform: scale(1.007); /* ← ちょっと浮く感じ */
}

/* スマホ対応 */
@media screen and (max-width: 768px) {
  .error-wrapper {
    margin-top: 150px;
    padding: 0 20px;
  }

   .error-wrapper h2 {
    font-size: 20px;
  }

  .error-wrapper p {
    font-size: 15px;
  }

  .btn-back {
    width: 80%;
    font-size: 15px;
  }
}