/* ===== 全体を中央寄せ ===== */
body.login-page {
  background-color: #fafafa;
  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center;     /* 縦中央 */
  height: 100vh;
  margin: 0;
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

/* ===== ログイン全体の枠（白いボックスなし） ===== */
.login-wrapper {
  text-align: center;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
}

/* ===== タイトル ===== */
.login-wrapper h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 100px 0 30px;
}

/* ===== 入力フォーム ===== */
.login-wrapper form {
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 400px;
  max-width: 90%;
}

.login-wrapper label {
  display: block;
  margin-bottom: 6px;
  color: #333;
  font-weight: 500;
}

.login-wrapper input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  box-sizing: border-box;
}

/* ログインエラー表示 */
.login-error {
  color: #d00;
  margin: 15px auto;
  text-align: center;
  font-size: 14px;
  display: block;
  width: 100%;
}

/* ===== ログインボタン ===== */
.btn {
  display: block;
  width: 120px;
  margin: 20px auto 0;
  background-color: #50e3f6;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.2s;
  font-weight: 300;
}

.btn:hover {
  background-color: #04cde7;
}

/* ===== 下部リンク ===== */
.links {
  text-align: center;
  margin-top: 40px;
}

.links a {
  color: #333;
  text-decoration: underline;
  font-size: 14px;
  display: block;
}


/* ===== スマホ対応 ===== */
@media screen and (max-width: 768px) {
  .login-wrapper form {
    width: 90%;
    max-width: 400px;
  }

  .login-wrapper input {
    width: 100%;
  }

  .btn {
    width: 120px;
  }
}