.member-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* ← 中央寄せを保証 */
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.member-wrapper h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.note {
  font-size: 13px;
  color: #333;
  margin: 10px 0 20px;
}

.member-list {
  max-height: 70vh;     /* 画面の約70%でスクロール発生 */
  overflow-y: auto;     /* 縦スクロール許可 */
  width: 100%;            /* 横幅を確保 */
  display: flex;
  flex-direction: column;
  align-items: center;    /* カード中央寄せ */
  gap: 10px;              /* カード間の余白 */
  padding-right: 10px;  /* スクロールバーの分だけ余白 */
}

.member-card p {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin: 10px 20px;
}

.member-list::-webkit-scrollbar {
  width: 8px;
}

.member-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.member-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 1px;
  margin: 5px 0;
  width: 90%;
  max-width: 330px;
  cursor: default;
  transition: transform 0.15s ease, background-color 0.2s;
  border: 1px solid #02c0f5;
  font-size: 14px;
}

.member-card:hover {
  transform: scale(1.02);
  background-color: #f0e6ee;
}

/* ===== スマホ対応（768px以下） ===== */
@media screen and (max-width: 768px) {
  .member-wrapper {
    margin-top: 100px;
    align-items: center;
  }

  .member-list {
    -webkit-overflow-scrolling: touch; /* スムーズスクロール（iOS対応） */
  }

  .member-list::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  .member-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  .member-list::-webkit-scrollbar-track {
    background: transparent;
  }

  .member-card {
    width: 95%;
    margin: 5px auto;
    padding: 5px;
    font-size: 15px;
  }

  .modal-content {
    width: 92%;
    padding: 18px;
  }

  textarea {
    height: 100px;
  }

  #sendMessageBtn {
    width: 40%;
    font-size: 16px;
  }
}