.message-wrapper {
  text-align: center;
  margin-top: 80px;
}

.sub-text {
  font-size: 15px;
  color: #333;
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.form-group {
  margin-bottom: 40px;
  text-align: left;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.form-group label {
  display: block;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

select {
  width: 100%;
  max-width: 350px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
  margin-top: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 13px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

.btn-register {
  display: block;
  margin: 25px auto 0;
  padding: 10px 40px;
  background-color: #50e3f6;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.2s, border-color 0.2s;
  color: #333;
  font-weight: 300;
}

.btn-register:hover {
  background-color: #04cde7;
}


/* ===== スマホ対応（768px以下） ===== */
@media screen and (max-width: 768px) {
  .message-wrapper {
    margin-top: 100px;
    align-items: center;
  }
}