.task-create-wrapper {
  width: 90%;
  max-width: 400px;
  margin: 60px auto;
}

h2 {
  text-align: center;
  margin: 10px auto;
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 27px;
  text-align: center;
}

.form-group label {
  text-align: left;
  display: block;
  font-weight: 400;
  margin-bottom: 3px;
  margin-left: 25px;
}

input[type="text"],
input[type="date"],
input[type="time"],
select,
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}


.time-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.time-group input[type="time"] {
  width: 40%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.btn-submit {
  display: static;
  width: 30%;
  background: #50e3f6;
  color: #333;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #ccc;
}

.btn-submit:hover {
  background: #04cde7;
}

/* ===== スマホ対応（768px以下） ===== */
@media screen and (max-width: 768px) {
  .task-create-wrapper {
    margin-top: 120px;
    align-items: center;
  }
}