{% extends 'base_with_nav.html' %}
{% load static %}
{% block title %}パスワード再設定完了 | 引越しGO{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset_reset.css' %}">
<link rel="stylesheet" href="{% static 'css/password_reset_complete.css' %}">
{% endblock %}

{% block content %}
<div class="reset-wrapper">
  <h2>パスワード再設定完了</h2>
  <p class="reset-desc">
  <p>パスワードの再設定が完了しました。<br>
    新しいパスワードでログインしてください。</p>

  <a href="{% url 'login' %}"> ログインページへ戻る</a>
</div>
{% endblock %}