{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規アカウント登録</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="signup-container">
        <h2>新規アカウント登録</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-group">
                <label for="id_name">名前</label>
                {{ form.name }}
            </div>

            <div class="form-group">
                <label for="id_email">メールアドレス</label>
                {{ form.email }}
            </div>

            <div class="form-group password-field">
                <label for="id_password1">パスワード</label>
                {{ form.password1 }}
                <button type="button" id="password-rules-btn">？</button> 
            </div>

            <div class="form-group">
                <label for="id_password2">パスワード再入力</label>
                {{ form.password2 }}
            </div>

            <button type="submit" class="btn">登録</button>
        </form>

        <p class="login-link">
             <a href="{% url 'login' %}">すでにアカウントをお持ちの方はこちら</a>
        </p>

        <div id="password-rules" class="password-rules">
                    <p>※10文字以上で入力してください。<br>
                       ※アルファベット大文字・小文字・数字を組み合わせてください。<br>
                       ※記号（!、%、@、#、$、&）を1つ以上含めてください。<br>
                       ※推測されやすい文字列は使用できません。</p>
                </div>
    </div>

    <script>
        const rulesBtn = document.getElementById('password-rules-btn');
        const rulesBox = document.getElementById('password-rules');

        rulesBtn.addEventListener('click', (e) => {
            e.stopPropagation(); // クリックイベントの伝播を防ぐ
            rulesBox.style.display = (rulesBox.style.display === 'block') ? 'none' : 'block';
            if (rulesBox.style.display === 'block') {
                rulesBox.classList.add('fade-in');
            } else {
            rulesBox.classList.remove('fade-in');
            }
        });

    // 画面のどこかをクリックしたら閉じる
    document.addEventListener('click', (e) => {
        if (rulesBox.style.display === 'block' && !rulesBox.contains(e.target) && e.target !== rulesBtn) {
            rulesBox.style.display = 'none';
        }
    });
    </script>
</body>
</html>